* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif; }

.app {
  border: 2px solid #B29674;
  padding-top: 190px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  height: 1200px;
  /* SITE TITLE */
  /* SECTIONS GENERAL */
  /* NAVIGATION */ }
  .app .main-title-wrap {
    z-index: 1;
    height: 100px;
    position: absolute;
    top: 10vh;
    margin-top: -50px;
    left: 70%; }
    .app .main-title-wrap .main-title {
      font-family: "Caveat", sans-serif;
      font-size: 80px;
      color: black; }
    .app .main-title-wrap .main-title-desc {
      font-family: "Caveat", sans-serif;
      font-size: 29px;
      color: #B29674;
      padding: 5px;
      background-color: black; }
  .app .section {
    margin-left: 250px;
    font-family: "Titillium Web", sans-serif;
    /* INDIVIDUAL SECTIONS */
    /* BLOG */ }
    .app .section h1 {
      font-family: "Caveat", sans-serif;
      font-size: 55px;
      text-align: left; }
    .app .section .section-p.is-active {
      animation: pageLoad 600ms ease-in-out forwards; }
    .app .section .blog {
      margin-left: 20px; }
      .app .section .blog .blog-wrap {
        color: #B29674;
        padding: 1em;
        background-color: black;
        opacity: 0.9;
        border: 2px solid #B29674; }
        .app .section .blog .blog-wrap.is-active {
          animation: blog-load 500ms ease-in-out forwards;
          margin-top: 20px; }
        .app .section .blog .blog-wrap h2 {
          color: #B29674;
          font-size: 24px; }
        .app .section .blog .blog-wrap span.blog-date {
          color: #B29674;
          font-size: 14px; }
        .app .section .blog .blog-wrap p {
          color: #227093; }
  .app nav.main-nav {
    border-right: 2px solid #B29674;
    position: fixed;
    margin-top: -190px;
    color: #B29674;
    width: 220px;
    height: 100%;
    background-color: black;
    padding-top: 200px; }
    .app nav.main-nav h2.nav-title {
      font-family: "Caveat", sans-serif;
      margin-left: 60px; }
    .app nav.main-nav ul.nav-list {
      z-index: 2;
      margin-left: 120px; }
      .app nav.main-nav ul.nav-list li.nav-item {
        cursor: pointer;
        font-size: 20px;
        list-style: none; }
        .app nav.main-nav ul.nav-list li.nav-item.is-active {
          animation: navSelected 300ms ease-in-out forwards; }

/* Animations */
@keyframes navSelected {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(10px); } }
@keyframes pageLoad {
  0% {
    transform: translateY(200px) rotate(10deg);
    opacity: 0.5; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }
@keyframes blog-load {
  0% {
    transform: translateX(500px) scale(0.7); }
  100% {
    transform: translateX(0) scale(1); } }
/* Media Queries */
@media (max-width: 1190px) {
  .app {
    padding-top: 20vh; }
    .app .main-title-wrap {
      top: 10vh;
      left: 235px; }
      .app .main-title-wrap .main-title {
        font-size: 50px; }
      .app .main-title-wrap .main-title-desc {
        font-size: 22px; }
    .app nav.main-nav {
      margin-top: -20vh;
      float: left;
      color: #A5B1C2;
      width: 190px;
      height: 100vh;
      padding-top: 200px; }
      .app nav.main-nav ul.nav-list {
        margin-left: 70px;
        z-index: 2; }
    .app .section {
      font-family: "Titillium Web", sans-serif; }
      .app .section h1 {
        font-size: 30px; } }
/* Media Queries */
@media (max-width: 690px) {
  .app {
    height: 1500px;
    padding-top: 20vh; }
    .app .main-title-wrap {
      top: 10vh;
      left: 140px; }
      .app .main-title-wrap .main-title {
        font-size: 30px; }
      .app .main-title-wrap .main-title-desc {
        font-size: 15px; }
    .app nav.main-nav {
      margin-top: -20vh;
      float: left;
      color: #A5B1C2;
      width: 130px;
      height: 1500px;
      padding-top: 30px; }
      .app nav.main-nav h2.nav-title {
        font-size: 30px;
        font-family: "Caveat", sans-serif; }
      .app nav.main-nav ul.nav-list {
        margin-left: 40px;
        z-index: 2; }
        .app nav.main-nav ul.nav-list li.nav-item {
          cursor: pointer;
          font-size: 16px;
          list-style: none; }
    .app .section {
      font-family: "Titillium Web", sans-serif; }
      .app .section h1 {
        font-size: 30px; } }

/*# sourceMappingURL=style.css.map */
